<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Follow-up</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h2> The Follow-up</h2>

<img class="image" th:src="@{/img/thank-you-g6b56687ff_1280.png}" alt="Thank you letter">


<p>
    Afterward, send a follow-up letter. Thank the interviewer for taking the time to speak with you and let them know that you are still interested. Demonstrate your interest by describing how you could contribute to the company's future.

    Review what you've learned. What were the strongest parts of your interview? What were the weakest? Were you asked any questions you hadn't anticipated? And what did you learn about this company or career track? Even if you don't get the job, you can learn a lot from every interview.
</p>


<p> Website credit <a th:href="@{/contents}">contents</a>
    <a th:href="@{/images}">images</a>
</p>




<div th:replace="fragments/footer :: footer"></div>
</body>
</html>