<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interview day</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h2> Interview Day</h2>

<img class="image" th:src="@{/img/interview-ga57ab8889_1920.png}" alt="Interview Day">


<p>Dress appropriately. Choose conservative clothing and keep jewelry and accessories to a minimum.

    Be punctual. Arrive a little early to allow yourself time to relax and focus.

    Bring along some basic interview tools: extra copies of your resume, a notepad and a pen. Take notes on any interesting points or questions. Your notes will come in handy when preparing for a second interview or writing a follow-up letter.

    Be sure to listen actively throughout the interview. It's easy to spend all your time planning your answers, but remember, this is a conversation. Listening carefully helps you to respond appropriately.

    Avoid generalities and cliches ("I'm a people-person"). Give concrete examples when describing your work experience. And always be positive. Don't be critical of previous co-workers or bosses. The way you talk about your former or current boss may be seen as an indication of how you will talk about your future boss.

    Demonstrate that you have thought seriously about this career path and this company by asking intelligent questions about the position. Draw upon your research about the company, or ask about the working conditions, the chances for advancement and major projects your prospective job would entail.

    Ask your interviewers for their business cards to ensure that you have the proper contact information when you follow up.
</p>


<p> Website credit <a th:href="@{/contents}">contents</a>
    <a th:href="@{/images}">images</a>
</p>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>