<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Preparation</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h2> Preparation</h2>

<img class="image" th:src="@{/img/checklist-g256109a23_1920.jpg}" alt="Preparation checklist">


<p> Learn about the company and the position. Check their Website, use online corporate directories such as Hoovers.com or Yahoo Finance, or request information from the company's public relations department. Your school's reference librarian can help you track down all sorts of useful information, such as the company's size, history, main products and services, the names of top executives and current news stories.

    Rehearse with mock interviews. Check with your school's career planning center to see if they offer a program to help you improve your interview skills.

    Double-check the time and location of the interview. If it's in an area that's new to you, consult a map or take a test-run the day before to make sure you know how to get there.

    Prepare what you want to say in the interview. Think about your greatest strengths and weaknesses, your most significant work or school experiences, your future plans and your ideal job.

    Review your resume and think about how your experiences can be matched up with the job's requirements.</p>


<p> Contents from <a href="https://www.fastweb.com/career-planning/articles/three-steps-to-a-successful-job-interview"> here</a>
    & Images from <a href="https://pixabay.com/"> here.</a></p>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>